<a href="https://colab.research.google.com/github/venkey024/Python_notes/blob/main/python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 What is Python

In [ ]:
# -- >Single line programming
#1. What is Python?
'''A. High-level Programming Language
B. General purpose
c. Object oriented programmin language
Python is case sensitive
d. dynamically typed'''

In [ ]:
#why we require commenting?
#to understand the code better purpose

In [ ]:
#1st programming in python
#print "hello world!" in python?
# i am using print() to display my output
print("Hello world!")

In [ ]:
#Numerical data types in Python
#there 3 types numerical data types
#1.integer:
""" A whole number without any decimal points either -ve or +ve"""
print(5)
#test weather it is a integer or not
#to test the data type we are using "type()"
print(type(5))
#2.float:
#3.complex number:

In [ ]:
#2.float: A number having decimal pont either +ve or -ve
print(2.5346)
print(type(2.5346))
print(2.0)
print(type(2.0))

In [ ]:
#complex number:- A real number with its imaginary part.
print(3+2j)
print(4+6j)
print(type(4+6j))
#what is the real part and what is the imaginary part?
# 4---> is the real part & 6j is imaginary part

In [ ]:
#2 types of erros are
#syntax error
#Logical error

In [ ]:
#what is syntex error?
# if you break rules of programming language then you will rise syntax error
""" hi i am,
   i am learning basics of python
   i am comminting it with multilne comments'''

In [ ]:
#Logical error
#None other than syntax error all erros will be logical errors
#ex:- index error, name error, recurssive error..etc

In [ ]:
#we are having 7 arthamatic operators
#1.Addition-->  "+"
print(10 + 5)
print(type(10.5 + 5))

#2.Substarction ---> "-"
print(10 - 5)
print(type(10 - 5))
#3.Multiplication ----> *
print(10 * 5)
print(type(10 * 5))
#4.Division
print(10 / 5)
print(type(10 / 5))
#5.Exponenitial
#6.Floor Division
#7. Modulus

In [ ]:
#5.Exponenitial---> ** -->to the power of
print(5 ** 10)
print(type(5 ** 10))

#6.Floor Division ---> // -->ignores all the values after decimal point
print(10 // 3)
print(type(10 // 3))

#7. Modulus ---> %
print(10 % 5)
print(type(10 % 5))

round()

In [ ]:
import math
print(math.ceil(2.952))

3

In [ ]:
#print(2.3456) print first 2 decimals?
print(round(2.3456,2))

2.35

In [ ]:


print(type(10.5 + 5))
print(10 - 5)
print(type(10 - 5))
print(10 * 5)
print(type(10 * 5))
print(10 / 5)
print(type(10 / 5))

<class 'float'>
5
<class 'int'>
50
<class 'int'>
2.0
<class 'float'>

In [ ]:
#its a container where we can store oura valuable informtion and we can reuse it
#How to create an variable?
#How to Access an variable?
#let the dad age can be x  and son age is,
   # half of the das's age x/2

In [ ]:
x = 40
son_age = x/2
print(son_age)

20.0

In [ ]:
x = 10
y = 5
print(x + y)
print(x - y)

15
5

In [ ]:
#what are all the important rules to be followed to write an varibles?
'''1. varibles can start with alphabets,
  2. varibles cannot start with numbers,
  3. if you follow 1 and 2 u can start with letters in between you can use numbers
  4.speacial characters cannot except
  5.you cannot give spaces in between varaibles
  6. keywords cannot be used
  7. varibles are case sensitive '''

In [ ]:
#What is dynamically typed?-->Dynamic typing means that the type of the variable is determined only during runtime.
#what is statistically typed?---> the data type of a variable is known at the compile time which means
#                                 the programmer has to specify the data type of a variable at the time of its declaration.

In [ ]:
#Smart ways of writing a varible?
#Assign multiple values to the multiple variables?
a,b,c = 1,2,3
print(a,b,c)
#print the values in separate line?
# print(a,"\n",b,"\n",c,"\n")
# print(a)
# print(b)
# print(c)
#use "sep" to print output in separate line
print(a,b,c,sep="\n")

1 2 3
1
2
3

In [ ]:
#how can you assign one value to many varibles?
# x = 10
# y = 10
# z = 10
# print(x,y,z)
x=y=z=10
print(x,y,z,sep="\n")

10
10
10

input() -- Function

In [ ]:
#what is an input function?
#How to take an input()?
a = input()
print(a)
#what is the default data type for input function?
print(type(a))

12
12
<class 'str'>

In [ ]:
b = input("enter the number: ")
print(b)

enter the number: 23
23

In [ ]:
#write a program to identify the given number is odd or even?
a = 5
print(a % 2)

1

In [ ]:
#what is a string?
#string can be decalred in----(" ") or (' ')
#multiple lines of string--->(''' ''')or (""" """)
#Collection of multiple characters where each charcter can be accessible

In [ ]:
#print a mail that your accepting the offer letter from xyz company?
print("""Respected sir/madam
Hope your doing well, I am accepting the position offered by yoy,
Their small request from my side ----
Thank you,
Regards
Name """)

Respected sir/madam
Hope your doing well, I am accepting the position offered by yoy,
Their small request from my side ----
Thank you,
Regards
Name

In [ ]:
#How can i access each and every character in string?
#slicing operations--->[]
#indexing number

a = "Hello world!"
#print the 9th character from a?
print(a[9])

l

In [ ]:
#print the range of characters from [1o wo]?
#[start:end]
print(a[3:8])   #end-----> n+1

lo wo

In [ ]:
#print "Hello" from the hello world?
a = "Hello world!"
print(len(a))

12

In [ ]:
#print the characters from the begining till the 9th charcter?
#print(a[0:10])
print(a[:10])

Hello worl

In [ ]:
#print the characters from the 6th position to the end position?
print(a[6:])

world!

In [ ]:
#How to find out the no of characters in a string or length of a string?
print(len(a))
'''Note:- Lenth can be starts from 1,
and indexing can be starts from zero'''

12

'Note:- Lenth can be starts from 1,\nand indexing can be starts from zero'

In [ ]:
#print the entire string?
print(a)
print(a[:])

Hello world!
Hello world!

In [ ]:
#[start:end]--> range of elements
#if i give three values [start:end:step]
#print elements of even index position
print(a[0:12:2])
print(a[::2])
#print 3 steps ahead?
print(a[::3])

Hlowrd
Hlowrd
Hlwl

In [ ]:
#Negative indexing:it starts with '-1' and reads the string in reverse direction
#print the "hello word" in reverse direction?
print(a[::-1])

!dlrow olleH

In [ ]:
a = "Hello world!"
print(a[-5])

o

In [ ]:
a = "Hello world!"
print(a[-8:-3])

o wor

In [ ]:
#can i give +ve value in start and -ve vale in end

print(a[1:-2])

ello worl

In [ ]:
#use the 3 value indexs with -ve indexing? for the following string
a = "Hello world!"
print(a[-4:-10:-2])

rwo

In [ ]:
#confirm that the given string is palindrome or not?
b = 'madam'
print(b[-1:-6:-1])
print(b[::-1])
print(b[-5:])

madam
madam
madam

In [ ]:
a = "hello world!"
#what are all the different methods available on given string?
# we can use dir()
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#imporatant string methods
#1.capitalize
#2.lower
#3.lstrip
#4.rstrip
#5.split
#6.strip
#7.title
#8.upper
#9.replace *********
#10.swapcase

In [ ]:
a = "hello world!"
#How can we apply string ,methods
print(a.upper())
print(a.capitalize())
print(a.title())

HELLO WORLD!
Hello world!
Hello World!

In [ ]:
b = "   Hello this is shahul    "
print(b.lstrip())
print(b.rstrip())
print(b.strip())

Hello this is shahul
   Hello this is shahul
Hello this is shahul

In [ ]:
#Task is apply 10 string methods on "Hello Zenvius"
#replace "zenvius" in "Hello zenvius"  with "python"---->o/p-->"Hello Python"?

s = "Hello zenvius"
print(s.replace("zenvius","Python"))

Hello Python

In [ ]:
#Format()
#what is format()? why it is important
a = "hello"
b = "world"
#concate above two varibles
#c = a +" "+ b
c = a + b
print(c)
#print(a,"\t",b)

helloworld

In [ ]:
a,b,c = 1,2,3
print(a,b,c, sep="\n")

1
2
3

In [ ]:
age = 10
txt = "my age is"
final_stat = txt + str(age)
print(final_stat)
print(txt,age)

my age is10
my age is 10

In [ ]:
#format():- it takes an argument and that can be placed in a place holder{} in a string
#1st method of formating
age = 10
txt = 'i am {} years old'
print(txt.format(age))

i am 10 years old

In [ ]:
#2nd method
age = 10
txt = 'i am {} years old'.format(age)
print(txt)

i am 10 years old

In [ ]:
#3rd method---f'string method'
age = 10
txt = f'i am {age} years old'
print(txt)

i am 10 years old

In [ ]:
item = 'Product A'
price = 99.9
quantity = 20
#expected output: your order for product a number of items quantity priced at 99.99 is confiremd
text = "your order for {} number of items {} priced at {} is confiremd"

print(text.format(item,quantity,price))

your order for Product A number of items 20 priced at 99.9 is confiremd

In [ ]:
text = "your order for {} number of items {} priced at {} is confiremd".format(item,quantity,price)

print(text)

your order for Product A number of items 20 priced at 99.9 is confiremd

Conditional Statements

In [ ]:
#what are all comparison operators?
#equals too-----> ==
#not equals to ---> !=
#greater than---> >
#less than---> <
#gretaer than equals ---> >=
#less than equals to ---->< <=

In [ ]:
print(10 == 10)
print(10 < 10)

True
False

In [ ]:
#conditional statments:---> if,elif ,else
marks = 35
passing = 40
total_marks = 100
if marks > passing:
  print("congratulation")
  print("you have passed")
  print(f'you have got {marks} marks out of {total_marks}')
else:
  print("Better luck next time")
  print("you have failed")
  print(f'you have got {marks} marks out of {total_marks}')

Better luck next time
you have failed
you have got 35 marks out of 100

In [ ]:
#print a number is -ve or positive or nuetral?
a = int(input("enter the number "))
if a > 0:
  print("+ve")
elif a == 0:
  print("zero")
else:
  print("-ve")

enter the number 2
+ve

In [ ]:
#logical operators:- and,or, not
#And:- all the conditions has be to true then only prgram executed
#or:any one condition is true
#not:reverse the actual output

In [ ]:
print(10 == 10)
print(not(10 == 10))

True
False

In [ ]:
a = 10
b = 56
c = 455
# check condtion that a is lesser than c and b is lesser than c and b is greater than a
if a < c and b < c and b > a:
  print("all the conditions satified")
else:
  print("conditions is not satisfied")

all the conditions satified

In [ ]:
#Nested condition:
a = 45
# a  is greater than 10
# a is greater than 20
# a is greater than 3o
# a is greater than 40
# a is lesser than 50

In [ ]:
#check what grade we can give to the students based upon theor marks?
#total marks = 100
#if the student get 90 to 100 --> A+
#if the student get 80 to 90 --> A
#if the student get 70 to 80 --> B+
#if the student get 60 to 70 --> B
#if the student get 50 to 60 --> c
#if the student get 40 to 50 --> D
#Below it display "better luck next time"

In [ ]:
#Pass:- Null place holder when you excute nothing will happen
a = int(input("enter the number "))
if a > 0:
  print("+ve")
  pass
# elif a == 0:
#   print("zero")
# else:
#   print("-ve")

enter the number 23
+ve

Loops --

In [ ]:
#why we use loops?
#we are using loops to avioid Wet codes to avoid duplicate programmoing
#WET code and 2. Dry code
#2 types of loops
#1.while loop
#2.for loop

In [ ]:
#whileloop:-works/runs a set of instructions as long as condition remain true
target = 5
intial = 0
while intial < 5:
  print("go down")
  print("come up")
  print("=======rep complted===")
  intial = intial + 1

go down
come up
=======rep complted===
go down
come up
=======rep complted===
go down
come up
=======rep complted===
go down
come up
=======rep complted===
go down
come up
=======rep complted===

In [ ]:
#Write a program to run a lift to reach user input floor?
D = 4
i = 0
while i <= 4:
  print("reach the destination")
  print("======================")
  i = i + 1

reach the destination
======================
reach the destination
======================
reach the destination
======================
reach the destination
======================
reach the destination
======================

In [ ]:
#let say i = 10  while the value is less than 10 and i want to print values of i up to 10.
i = int(input())
while i <= 10:
  print(i)
  i = i + 1 #---> i += 1 --->
#i *= 2----> i = i *2
#i -=2 ----> i = i -2

2
2
3
4
5
6
7
8
9
10

In [ ]:
#Tell a string weather it is palidrome or not input() and conditional statments?
x = input()
x_rev =x[::-1]
print(f'rev of string {x_rev}')
if x.lower() == x_rev.lower():
  print(f'{x} is palindrome')
else:
   print(f'{x} is not palindrome')

2
rev of string 2
2 is palindrome

In [ ]:
#write a program to print multiples of 2 in a given list?
number = [1,2,3,4,5,6] #--->[2,4,6,8,10,12]
print(number*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
#for loop:>- runs a set of instructions over the collection
number = [1,2,3,4,5,6]
for i in number:
  print(i*2)

2
4
6
8
10
12

In [ ]:
number = [1,2,3,4,5,6]
for i in number:
  print("this loop runs")
  print("every value")
  print('===================')

this loop runs
every value
===================
this loop runs
every value
===================
this loop runs
every value
===================
this loop runs
every value
===================
this loop runs
every value
===================
this loop runs
every value
===================

In [ ]:
#print "hello world" in separate lines use for loop?
x = "hello world"
for i in x:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
#Break and continue
#break:it will stops entore loops irrespective of items in collections.
number = [1,2,3,4,5,6]
#break the loop at 2
for i in number:

  if i == 2:
    break
  print(i)

1

In [ ]:
#continue: when you want to skip a current loop and move to the next loop
number = [1,2,3,4,5,6]
for x in number:
  if x == 3:
    continue
  print(x)

1
2
4
5
6

In [ ]:
a = [10,20,30,40,50,60,70,80,90]
#skip 30,50and 70:
for i in a:
  if i == 30 or i == 50 or i == 70:
    continue
  print(i)

10
20
40
60
80
90

In [1]:
#Range(end):
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
#print even numberbs till range of 50
for i in range(50):
  if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
#print "hello world" in 10 times?

for x in range(10):
  print("hello world!")

hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!

In [ ]:
#range(star:end)
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
x = "hello world"
for a in range(len(x)):
  print(x[a])

h
e
l
l
o

w
o
r
l
d

Collections ======

In [ ]:
#1. List
#2.Tuple
#3.set
#4.dictionary

In [ ]:
#what is a list?
#created with []--ordered,allows duplicates,mutable(changable)
l1 = ["dog","parrot","elephant","dog"]
print(l1)
#what can be stored in a list?
l2 = ["true","false","true","false"]
print(l2)

['dog', 'parrot', 'elephant', 'dog']
['true', 'false', 'true', 'false']

In [ ]:
print(type(l1),type(l2), sep="\n")

<class 'list'>
<class 'list'>

In [ ]:
#list are odered:-accessing the items with index numbers
l1 = ["dog","parrot","elephant","dog"]

print(l1[2])

elephant

In [ ]:
l3 = ['apple','banana','cherry','kiwi','mango']
#access range of elements
print(l3[1:4])

['banana', 'cherry', 'kiwi']

In [ ]:
print(l3[::-1])
#-ve index
print(l3)

['mango', 'kiwi', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
l4=['apple', 'banana', 'cherry', 'kiwi', 'mango']
#swapping
l4[0] = 'orange'
print(l4)

['orange', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#swap elements from index 1 to 4
l4[1:4]=['blueberry','strawberry','muskmelon']
print(l4)

['orange', 'blueberry', 'strawberry', 'muskmelon', 'mango']

In [ ]:
#Adding:-
#1. append
#what is the default index position for append method
l5 =['orange', 'blueberry', 'strawberry', 'muskmelon', 'mango']
l5.append("apple")
print(l5)

['orange', 'blueberry', 'strawberry', 'muskmelon', 'mango', 'apple']

In [ ]:
#2.insert--> add item at specific index-->(index,item)
l6=['orange', 'blueberry', 'strawberry', 'muskmelon', 'mango', 'apple']
l6.insert(2,"kiwi")
print(l6)

['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']

In [ ]:
#3.extend-->add the items from the other collections
#iterables-->nothing but collections(list,tuple dictionary,set)
l7 =[1,2,3,4,5]
l6.extend(l7)
print(l6)

['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple', 1, 2, 3, 4, 5]

In [ ]:
l8 =(6,7,8,9)
l7.extend(l8)
print(l7)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#i want to insert another collection of items at index 2
#the given list is ['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']
l3=(10,20,30)
l2=['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']
l2.insert(2,l3)
print(l2)

['orange', 'blueberry', (10, 20, 30), 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']

In [ ]:
#removing of elements in list
#remove(item or index numbers)
#remove (10,20,30)
l2=['orange', 'blueberry', (10, 20, 30), 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']
l2.remove(l2[2])
print(l2)

['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']

In [ ]:
#pop:- pop(index)
l4 = ['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']
l4.pop()
print(l4)

['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango']

In [ ]:
#3rd delete
l4 = ['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']
del l4[2]
print(l4)
#del range of items
del l4[1:4]
print(l4)

['orange', 'blueberry', 'strawberry', 'muskmelon', 'mango', 'apple']
['orange', 'mango', 'apple']

In [ ]:
#clear
l4 = ['orange', 'blueberry', 'kiwi', 'strawberry', 'muskmelon', 'mango', 'apple']
l4.clear()
print(l4)

[]

In [ ]:
l6 = ['Orange', 'Blueberry', 'Kiwi', 'Strawberry', 'Muskmelon', 'Mango', 'APPLE','apple','blueberry']
l6.sort(reverse = True)
print(l6)

['blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Kiwi', 'Blueberry', 'APPLE']

In [ ]:
#2nd collection
#Tuple:--->()-->ordered(indexed),immutable(not changable),allow the duplicates
t1 = ('blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Kiwi', 'Blueberry', 'APPLE')
print(t1)
print(type(t1))
print(t1[1:4])

('blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Kiwi', 'Blueberry', 'APPLE')
<class 'tuple'>
('apple', 'Strawberry', 'Orange')

In [ ]:
#immutable
t1 = ('blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Kiwi', 'Blueberry', 'APPLE')
t1[2]="watermelon"
print(t1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#if you want to change the items in a tuple how can you do it?
#what is diff between list and tuple
#how can we change tuple in to list
#when i shoul use the list and when i should use tuple?
t1 = ('blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Kiwi', 'Blueberry', 'APPLE')
l1 = list(t1)
print(type(l1))
print(type(t1))

<class 'list'>
<class 'tuple'>

In [ ]:
#set:-->{}
#unoredered,it won't allow the duplicates,immutable(we can add item and remove the item)
s1 = {'blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Orange', 'blueberry', 'apple'}
print(s1)
print(type(s1))

{'Muskmelon', 'Mango', 'Strawberry', 'blueberry', 'apple', 'Orange'}
<class 'set'>

In [ ]:
print(s1[0])
#why sets are faster than list and tuple?
#

TypeError: 'set' object is not subscriptable

In [ ]:
#add the items in the set
s1 = {'blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Orange', 'blueberry', 'apple'}
s1.add('kiwi')
print(s1)

{'Muskmelon', 'kiwi', 'Mango', 'Strawberry', 'blueberry', 'apple', 'Orange'}

In [ ]:
#update
s1 = {'blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Orange', 'blueberry', 'apple'}
s2=[1,2,3,4,5,6]
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 'Mango', 'Orange', 'Strawberry', 'blueberry', 'apple', 'Muskmelon'}

In [ ]:
s1 = {'blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Orange', 'blueberry', 'apple'}
s1.remove('Orange')
print(s1)

{'Mango', 'blueberry', 'Strawberry', 'Muskmelon', 'apple'}

In [ ]:
s1 = {'blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Orange', 'blueberry', 'apple'}
#discard method
s1.discard("name")
print(s1)

{'Mango', 'blueberry', 'Orange', 'Strawberry', 'Muskmelon', 'apple'}

In [ ]:
#why should i use remove /discard when one is enough?
#3rd pop
s1 = {'blueberry', 'apple', 'Strawberry', 'Orange', 'Muskmelon', 'Mango', 'Orange', 'blueberry', 'apple'}
s1.pop()
print(s1)

{'Orange', 'Strawberry', 'apple', 'Muskmelon', 'blueberry'}

In [ ]:
#del
del s1
print(s1)

NameError: name 's1' is not defined

In [ ]:
s2 ={1, 'apple', 3, 4, 5, 6, 'Strawberry', 'Muskmelon', 'Orange', 'kiwi'}
s2.clear()
print(s2)

set()

In [ ]:
#what is main reason we use sets?
s1 ={'a','b','c','d'}
s2 ={'d','e','f','g'}
s4=s1.intersection(s2)
print(s4)

{'d'}

In [ ]:

s1 ={'a','b','c','d'}
s3=s1.union(s2)
print(s3)

{'f', 'g', 'c', 'a', 'b', 'd', 'e'}

In [ ]:
#1.Dictionary
#where we can store items in a dictionary?
#key : value - pairs
#{}
d = {"name" : "ram" ,
      "f_name" : " eve",
      "age" : 23}
print(d)

{'name': 'ram', 'f_name': ' eve', 'age': 23}

In [ ]:
print(d.keys())
print(d.values())

dict_keys(['name', 'f_name', 'age'])
dict_values(['ram', ' eve', 23])

In [ ]:
print(d.items()) # getting key values as tuples inside list

dict_items([('name', 'ram'), ('f_name', ' eve'), ('age', 23)])

In [ ]:
#q) python is a interreted language ?
d = {"name" : "ram" ,
      "f_name" : " eve",
      "age" : 23,
      "age": 25}
print(d)

{'name': 'ram', 'f_name': ' eve', 'age': 25}

In [ ]:
# dictionaries are unrdered as keys and ordered as values means we can access the values with help of keys
print(len(d)) # wont allow the duplicates

3

In [ ]:
# How can i access the items in a dictionary
print(d['name'])
print(d.get('name'))

ram
ram

In [ ]:
# How can we change the values for particular keys
d['name'] = 'Alisa'
print(d)

{'name': 'Alisa', 'f_name': ' eve', 'age': 25}

In [ ]:
# similarly we can use --udpate
d.update({'name' : 'Healy'})
print(d)

{'name': 'Healy', 'f_name': ' eve', 'age': 25}

In [ ]:
# How can i add a new key : value pair
d['add'] = 'Aus'
print(d)

{'name': 'Healy', 'f_name': ' eve', 'age': 25, 'add': 'Aus'}

In [ ]:
# if the input keys are present in dict the
#values are updated or else new pairs are added for --- update and upadting values
# how can we remove values ?
d.pop('name')
print(d)

{'f_name': ' eve', 'age': 25, 'add': 'Aus'}

In [ ]:
#list in dictionary
d = {"name" : ["ram" , " Charan"] ,
     "f_name" : " eve",
      "age" : 23}
d['name'][1] = 'perry'
print(d)

{'name': ['ram', 'perry'], 'f_name': ' eve', 'age': 23}

In [ ]:
#add new items into the list in names ?
d['name'].append('smriti')
print(d)

{'name': ['ram', 'perry', 'smriti'], 'f_name': ' eve', 'age': 23}

In [ ]:
# print only smriti
print(d['name'][2])

smriti

In [ ]:
del d['name'][2] # del dict_name[key_name][index_no]
print(d)

{'name': ['ram', 'perry'], 'f_name': ' eve', 'age': 23}

In [ ]:
d.clear()
print(d)

{}

In [ ]:
# Working with loops in a dictionary

d = {"name" : "ram" ,
      "f_name" : " eve",
      "age" : 23,
      "age": 25}
for i in d.keys():
  print(i)
# get all the keys as a output

name
f_name
age

In [ ]:
for i,j in d.items():
  print(i,j)

In [ ]:
for x in d.keys():
  print(f'{x} = {d[x]}')

In [ ]:
#Dict - {} unordered , wont allow the duplicates, values are changable and keys are unchangable
# List - [] ordered , allow duplicates , mutable
# tuple - () ordered , allow duplicates , immutable
# set - {} unordered , wont allow duplicates , immutable

Functions ---

In [ ]:
#what is a Function
# it is a block of code which only runs when it is called
# what is the purpose of functions?
# -- reduces the time and memory
# -- reduces the limitations of the code means encourages writing DRY codes
# purpose of function is wjen you want to repeat a block of code at random interval of time , just we can call

In [ ]:
def fun():
  print("Hello World!")
fun()

Hello World!

In [ ]:
def f2(name):
  print(name)
f2('Ven')

Ven

In [ ]:
# what is a parameter?
# -- variables inside the func definition
# what is arguments?
# -- the values inside the fun call
# why we are using parameters and arguments
#-- passing the information in fund def

In [ ]:
def fun(a,b):
  print("The sum is",a+b)
fun(2,3)

The sum is 5

In [ ]:
# how can we print a function without raising an error ?
def fun(name):
  pass

In [ ]:
# creating default parameter
def fun(name = "Venki"):
  print(name)
fun("EVE")
fun()

EVE
Venki

In [ ]:
# what do i do when i dont know how many arguments do i need to pass?
def fun(a,b,c,d):
  print("hello",a)
fun(1,2,3,4)

hello 1

In [ ]:
#when i dont know how many arguments do i need to pass in fun definition -- use *?
def fun(*a):
  print(a)
fun(1,2,3,4) # data type is tuple

(1, 2, 3, 4)

In [ ]:
# when i don't know how many parameters in fun call -- use **?
def fun(**a):
  print(a)
fun(a=1,b=3) ## data type is dictionary

# technical names
# * --> Arditary arguments--> when don't know how many arguments youa are send (aurgs)--> default data type is tuple
# ** --> arbitary keyword arguments (kwurgs) --> default data type is dictionary

{'a': 1, 'b': 3}

In [ ]:
#Return Keyword
def fun(a):
  return a
print(fun(3))

3

In [ ]:
def sum(a,b):
  print(a+b)
a=int(input())
b=int(input())
sum(a,b)

2
3
5

In [ ]:
def sum(a,b):
  print("The sum is",a+b)
def sub(a,b):
  print("The subraction is",a-b)
def mul(a,b):
  print("The Multiplication is",a*b)
def Div(a,b):
  print("The Division is",a%b)

sum(2,3)
sub(5,2)
mul(2,3)
Div(10,5)

The sum is 5
The subraction is 3
The Multiplication is 6
The Division is 0

In [ ]:


def addition(s,num):
  for i in range(1,num+1):
    s=s+i
  print("The sum is",s)

num = int(input())

addition(0,num)

3
The sum is 6

List Comprehension

In [ ]:
# it offers the samller line of code that you can use to create new list from the existing list
l = ["ellyse" , " perry", "eve"]
# create a new list fron above
new_l = []
'''
for x in l:
  if "e" in x:
    new_l.append(x)
  print(new_l)
'''
  # create a new list that is having letter n "i"
for x in l:
  if "r" in x:
    new_l.append(x)
  print(new_l)

[]
[' perry']
[' perry']

In [ ]:
l = ["ellyse" , " perry", "eve"]
# create a new list fron above
new_l = [ x for x in l if "e" in x]
print(new_l)

['ellyse', ' perry', 'eve']

In [ ]:
# print new list without eve
l = ["ellyse" , " perry", "eve"]
# create a new list fron above
new_l = [ x for x in l if "eve" not in x]
print(new_l)

['ellyse', ' perry']

In [ ]:
# create a list of numbers from 0 to 20
new_l = []
for i in range(0,21):
  new_l.append(i)
print(new_l)

new_l1 = [ x for x in range(0,21)]
print(new_l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# create a list of even numbers and list of odd numbersthe range of 100
eve_l = [ x for x in range(101) if x%2 == 0]
print(eve_l)

odd_l = [ x for x in range(101) if x%2 != 0]
print(odd_l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
# why we prefer LC over loops?
# LC is faster than loops

In [ ]:
# print a list that having multiples of 2

l = [ x * 2  for x in range(10) ]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Lambda Function -------

In [ ]:
# what is lambda?
# it is an ananymous function - means it doesn't have any name

# syntax -----     lambda arguments : expression -- many arguments and single expression

# expression -- if some statements / calculations / steps using that values to give single value
# lambda allows only on eexpression

x = lambda c : c*30
print(x(20))

600

In [ ]:
x = lambda a,b,c : a+b+(c*10)
print(x(8,5,4))

53

In [ ]:
x = lambda a : a*a
print(x(7))

49

In [ ]:
def sqrt(x):
  return x ** 0.5
print(int(sqrt(25)))

5

In [ ]:
def power(n):
  return lambda x : x** n
# call the function
square = power(2)

print(square(3))

9

In [ ]:
x = "perry"

# create a fun

def fun():
  print(x)
fun()

perry

In [ ]:
# what is a global variable?
# A variable that will create outside the function

# Note :- local variable created inside a function is temporary it only lost inside the function

Local Variable

In [ ]:
# what is a local variable
# a varable is create inside the fun

MAP --- FUnction-----

In [ ]:
# what map does is?
# It uses a function on iterables.
# it takes a function and run it over the iterables.
#what is iterables?
# -- collections
#note:- Functions are the first class objects -- means one function can act as argument for another function
#syntax for MAP
#-- map = (function,iterable)

girls = ["Ellyse",'Perry',"Eve"]
# find the length of each item

x = [ len(x) for x in girls]
print(x)

In [ ]:
# using map fun
girls = ["Ellyse",'Perry',"Eve"]
x = list(map(len,girls))
print(x)
# before you are applying the map() it is our decision whether you want list or tuple

[6, 5, 3]

In [ ]:
def fun(x):
  return x
print(fun("Perry"))

In [ ]:
def fun(x):
  return x
print(fun("Perry"))
girls = ["Ellyse"]
y = tuple(map(fun,girls))
print(y)

Perry
('Ellyse',)

In [ ]:
# when we can use map()?
u  = input()
print(u)
# split the input
v = input().split()

man
man
manna

In [ ]:
# convert into integer ?
#1.by using for loop
h = [10,90,98,9]
for x in h:
  print(int(x),sep = " ")

10
90
98
9

In [ ]:
#2.using map
user = input().split()
n = tuple(map(int,user))
print(n)
# if you want to data type for each and every type in a collection -- by using index position
print(type(n[0]))

2
(2,)
<class 'int'>

In [ ]:
# how can i print the 10 20 30 40 50 60 in double
n = (10,20,30,40,50)
s = tuple(map(lambda a : a**2,n))
print(s)

(100, 400, 900, 1600, 2500)

In [ ]:
# write a program to print factorila of 5
fact = 1
for i in range(1,6):
  fact = fact*i
print(fact)

120

In [ ]:
def fact(n):
  if n == 0:
    return 1
  else:
    return n*fact(n-1)
print(fact(5))

120

-----------------------10 -06-2024-----------------------

Filter - Function

In [ ]:
#filter(function,iterables)
age = [12,15,16,18,45,21,18,17,56,23,35,15,8,10]
#print age of adults ina new list.
#create a function to check age of adults from the above list
def adult(x):
  if x >= 18:
    return True
  else:
    return False
#print(adult(18))

#run this function in above list "age"
a = list(map(adult,age))
print(a)

f1 = list(filter(adult,age))
print(f1)

[False, False, False, True, True, True, True, False, True, True, True, False, False, False]
[18, 45, 21, 18, 56, 23, 35]

In [ ]:
#create a function to check age of adults from the above list
f1 = list(filter(adult,age))
print(f1)

[18, 45, 21, 18, 56, 23, 35]

In [ ]:
"""note:- filter basically filters all your orginal collections that returns true or false,
 any value that comes out to be true it will be stored as a list of items"""

def adult(x):
  if x >= 18:
    return True
#print(adult(18))

f1 = list(filter(adult,age))
print(f1)

[18, 45, 21, 18, 56, 23, 35]

In [ ]:
def adult(x):
    return x >= 18
#print(adult(18))

f1 = list(filter(adult,age))
print(f1)

[18, 45, 21, 18, 56, 23, 35]

In [ ]:
age = [12,15,16,18,45,21,18,17,56,23,35,15,8,10]
f2 = list(filter(lambda a: a >= 18, age))
print(f2)

[18, 45, 21, 18, 56, 23, 35]

In [ ]:
#print the age between 18 t0 30
f3 = list(filter(lambda a:  18 <= a <= 30, age))
print(f3)

[18, 21, 18, 23]

In [ ]:
f4 = list(filter(lambda a: a >= 18 and a <= 30, age))
print(f3)

[18, 21, 18, 23]

In [ ]:
age = [12,15,16,18,45,21,18,17,56,23,35,15,8,10]
#sort the above list?
age.sort()
print(age)

[8, 10, 12, 15, 15, 16, 17, 18, 18, 21, 23, 35, 45, 56]

In [ ]:
#print in descending order?
age = [12,15,16,18,45,21,18,17,56,23,35,15,8,10]
#sort the above list?
age.sort(reverse = True)
print(age)

[56, 45, 35, 23, 21, 18, 18, 17, 16, 15, 15, 12, 10, 8]

Classes and  Objects

In [ ]:
x = "hello"
print(dir(x))

In [ ]:
#Note: In python we can create our own clases and objctes
#why we create classes and objects?
#how can you create a class?
# use keyword = clas
class customer:
  pass



x = "hello"
x = 10
x = 20.4
print(type(x))

<class 'float'>

In [ ]:
class customer:
  pass
# create an object
c1 = cutomer()
print(c1)
# when create user class and objects-- stored and comming from main file

In [ ]:
# every attributes 2 categories
#1. class attribute -->
# --> Means come from classes and applicable to any any object



# 2. object Attribute
# --> Means unique object or information that can be applicable to particular object only

In [ ]:
class Customer:
  print("Hello welcome to")
  Bank_name = "UNION"
  branch = "Kovur"
  state = "AP"
  IFSC = "UBIN0803332"

# create a object
c1 = Customer()
c2 = Customer()
c3 = Customer()
print(c3.Bank_name)
print(c3.branch)
print(c3.state)
print(c3.IFSC)

Hello welcome to
UNION
Kovur
AP
UBIN0803332

In [ ]:
# object --is an instance of class
# creating a function inside a class is called method

In [ ]:
# what is self?
#--> It is an extra parameter in methods definition
# --> when we create the methods we need to pass the self
# --> self act as pointer / reference to access the object

In [ ]:
class Customer:
  Bank_name = "UNION"

  def welcome(self):
    print("Hello welcome to")
c1 = Customer()
c1.welcome()

Hello welcome to

In [ ]:
class Customer:
  Bank_name = "UNION Bank"
  branch = "Kovur"
  state = "AP"

  def wel(self):
    # attributes passed with self when using class attributes
    print(f"Hello Welcome to the {self.Bank_name}") # self includes when arguments are not passed to this method


x = Customer()
x.wel()
print(x.Bank_name)

Hello Welcome to the UNION Bank
UNION Bank

In [ ]:
# object attributes : - unique attributes
# How do i mention this unique properties
class Customer:
  Bank_name = "UNION Bank"
  branch = "Kovur"
  state = "AP"

  def wel(self,name):
    # attributes passed with self when using class attributes
    print(f"Hello Welcome {name}")
x = Customer()
x.wel("Venkey")

Hello Welcome Venkey

In [ ]:
class student():
  pass
c = student()
# Note :- even we dont write anything in brackets theirs a function which runs in the background
# Special Function :- A function with starts with double __(double underscore and ends with same double underscire)
# when you create object by default it runs with __init__ initialization method

This is running

In [ ]:
class student():
  def __init__(self):
    print("This is running")

  pass
c = student()

In [ ]:
# Another way to prove calling an object
class student():
  def __init__(self,name,age,initial):
    print(f"Helo,{name} !you have started your account with {initial} ")

c = student("Ellyse",30,9000)

Helo,Ellyse !you have started your account with 9000

In [ ]:
# i have to access the object attributes
# A) --> object.attribute_name
class student():
  def __init__(self,name,age,initial):
    self.name = name
    self.age = age
    self.initial = initial
    print(f"Helo,{name} !you have started your account with {initial} ")

c1 = student("Ellyse",30,9000)
# to access the object attributes
print(c1.name)

Helo,Ellyse !you have started your account with 9000
Ellyse

In [ ]:
class student():

  Bank_name = "UNION Bank"
  branch = "Kovur"
  state = "AP"

  def __init__(self,name,age,initial,):
    self.name = name
    self.age = age
    self.initial = initial
    self.welcome() # instead of calling separate we can call inside the function

  def welcome(self):
    print(f"Helo, {self.name} ! you have started your account in {self.Bank_name} with Rs.{self.initial} at {self.branch} in {self.state} ")
    # print(f"Your current balance is {self.initial}\n")

  def deposit_balance(self,amount):
    self.initial  += amount
    print("Deposit completed ")
    print(f"Updated balance is Rs.{self.initial}")

  def check_balance(self):
      print(f"Your current balance is Rs.{self.initial}")

  def withdraw_amount(self,wd_amount):
    if (wd_amount<=self.initial):
      self.initial -= wd_amount
      print("Transaction completed")
      print(f"Updated balance is Rs.{self.initial}")
    else:
      print("Check the balance")



c1 = student("Eve",30,10000)
# to access the object attributes

# withdraw 5k from account
#c1.withdraw_amount(5000)

# deposit 50k
#c1.deposit_balance(5000)
#c1.check_balance()
#print(c1.initial)

Helo, Eve ! you have started your account in UNION Bank with Rs.10000 at Kovur in AP

12 - 06 - 2024

File Handling

In [ ]:
# What is File Handling in python?
# Handling certain files which is not python file
# eg :- pdf,excel
# to handle the file -- open package --
# open(file_name,mode)

In [ ]:
# How many types of modes in python for file handling
# -- 4 modes --> r,w,a,x

In [ ]:
# what is x mode?
# x mode is used to create a file
f = open("trail.txt","x")
# In the "X" mode if the file is already exist then what happen?
# It will rise an error

In [ ]:
# w:(write over write)
f = open("trail.txt","w")
f.write("Hello Good Morning ! This is first message in write mode")
f.close()
# over write
f = open("trail.txt","w")
f.write(" I am writing overwrite Message")
f.close()

In [ ]:
# a: append the data at the end of the file
f = open("trail.txt","a")
f.write(" I am writing overwrite Message")
f.close()

In [ ]:
# r: read mode
# what is default mode when you open a file?
#read mode
f = open("trail.txt")
print(f.read())
f.close()

 I am writing overwrite Message I am writing overwrite Message

In [ ]:
# how to read the excel file?
# to read the excel file in python we require a package
# "xlrd" is a package we are going to use
f = open("/content/VLOOKUP Tricks Practice File (1).xlsx")
# why we are giving double dackward salsh ?
print(f.read())
f.close()
# to read we need to import xlrd

In [ ]:
# when you want to deal with excel files we need to import "xlrd"

import xlrd
wb = xlrd.open_workbook("/content/VLOOKUP Tricks Practice File (1).xls")
print(wb)
print(type(wb))

<xlrd.book.Book object at 0x7a5504a07b20>
<class 'xlrd.book.Book'>

In [ ]:
# I want to access the sheet
sheet = wb.sheet_by_index(1)
print(sheet)

Sheet  1:<Sheet1>

In [ ]:
# i want to see how many rows and columns in sheet by using python
print(sheet.nrows)
print(sheet.ncols)

25
6

In [ ]:
# read the particular row
print(sheet.row(1))

[number:12061.0, text:'KUSUMA', number:94555.0, number:81566.0, number:85267.0, empty:'']

In [ ]:
# read the particular column,row
print(sheet.cell(1,1))

text:'KUSUMA'

In [ ]:
# how can i read entire rows and entire columns?
print(sheet.row_values(1))
print(sheet.col_values(1))

[12061.0, 'KUSUMA', 94555.0, 81566.0, 85267.0, '']
[' Name', 'KUSUMA', 'MURTHI', 'SANKER', 'PRASAD', 'GOPI', 'SANTHI', 'KISHORE', 'NAVEEN', 'MAHESH', 'RAVI', 'TEJA', '', '', '', '', '', '', 'Model', 'L-070', 'AP-456', 'LV-099', 'NO-332', 'MI-223', 'SO-663']

In [ ]:
# extract all the data.
for i in range(sheet.nrows):
  print(sheet.row_values(i))

['Emp Id', ' Name', 2019.0, 2020.0, 2021.0, 'Product']
[12061.0, 'KUSUMA', 94555.0, 81566.0, 85267.0, '']
[12082.0, 'MURTHI', 93108.0, 46887.0, 87124.0, '']
[12058.0, 'SANKER', 86751.0, 88236.0, 59143.0, '']
[12063.0, 'PRASAD', 94460.0, 66173.0, 68115.0, '']
[12008.0, 'GOPI', 71844.0, 63802.0, 77645.0, '']
[12011.0, 'SANTHI', 91727.0, 47053.0, 67301.0, '']
[12050.0, 'KISHORE', 62099.0, 88834.0, 88322.0, '']
[12039.0, 'NAVEEN', 93698.0, 59200.0, 58397.0, '']
[12051.0, 'MAHESH', 48875.0, 84977.0, 56073.0, '']
[12053.0, 'RAVI', 87028.0, 75724.0, 64563.0, '']
[12076.0, 'TEJA', 87249.0, 51786.0, 50305.0, '']
['', '', '', '', '', '']
['', '', '', '', '', '']
['', '', '', '', '', '']
['', '', '', '', '', '']
['', '', '', '', '', '']
['', '', '', '', '', '']
['Item Name', 'Model', 'Rate', '', '', '']
['లెనోవా', 'L-070', '', '', '', '']
['ఆపిల్', 'AP-456', '', '', '', '']
['లావా', 'LV-099', '', '', '', '']
['నోకియా', 'NO-332', '', '', '', '']
['మైక్రోమేక్స్', 'MI-223', '', '', '', '']
['సోనీ', 'SO-663', '', '', '', '']

In [ ]:
# append this data to entire list?
new_data = [ sheet.row_values(x) for x in range(sheet.nrows)]
print(new_data)

[['Emp Id', ' Name', 2019.0, 2020.0, 2021.0, 'Product'], [12061.0, 'KUSUMA', 94555.0, 81566.0, 85267.0, ''], [12082.0, 'MURTHI', 93108.0, 46887.0, 87124.0, ''], [12058.0, 'SANKER', 86751.0, 88236.0, 59143.0, ''], [12063.0, 'PRASAD', 94460.0, 66173.0, 68115.0, ''], [12008.0, 'GOPI', 71844.0, 63802.0, 77645.0, ''], [12011.0, 'SANTHI', 91727.0, 47053.0, 67301.0, ''], [12050.0, 'KISHORE', 62099.0, 88834.0, 88322.0, ''], [12039.0, 'NAVEEN', 93698.0, 59200.0, 58397.0, ''], [12051.0, 'MAHESH', 48875.0, 84977.0, 56073.0, ''], [12053.0, 'RAVI', 87028.0, 75724.0, 64563.0, ''], [12076.0, 'TEJA', 87249.0, 51786.0, 50305.0, ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['Item Name', 'Model', 'Rate', '', '', ''], ['లెనోవా', 'L-070', '', '', '', ''], ['ఆపిల్', 'AP-456', '', '', '', ''], ['లావా', 'LV-099', '', '', '', ''], ['నోకియా', 'NO-332', '', '', '', ''], ['మైక్రోమేక్స్', 'MI-223', '', '', '', ''], ['సోనీ', 'SO-663', '', '', '', '']]

Iterators --

In [ ]:
#What iterators will do?
#-- whatever the largedata --it will break data into tinychunks
# create a list that has numbers from 0 to infinite
a = ['apple','banana','mango','pineapple']
for x in a:
  print(x)
# x is created each and every element due to "Iterator protocols"
# we are having 2 iterator protocols
#1.--__iter__()
#2.__next__()

apple
banana
mango
pineapple

In [ ]:
a = ['apple','banana','mango','pineapple']
x = iter(a)
print(x)
print(next(x))
print(next(x))
print(next(x))
print(next(x))

<list_iterator object at 0x788960a0ec80>
apple
banana
mango
pineapple

In [ ]:
class Number:
  def __iter__(self):
    self.initial = 0
    return self
  def __next__(self):
    x = self.initial
    self.initial +=1
    return x
n = Number()
x = iter(n)
print(next(x))

0

In [ ]:
#pickling :- it’s the process of converting a Python object into a byte stream to store it in a file/database,
#             maintain program state across sessions, or transport data over the network.

# why we need pickling ?
# Pickle in Python is primarily used in serializing and deserializing a Python object structure
# --> for the faster execution of data

# serialization   --> Serialization is the process of converting a Python object into a byte stream
#                    or a string representation that can be easily stored or transmitted
#                 -->  pickle.dump() function is used to serialize the `data`

# deserialization -->Deserialization is the process of reconstructing a serialized object from its serialized form.
#                 -->  the pickle module provides the pickle.load() function to perform deserialization, often called "unpickling."


#  python pip :- is basically manager for packages or modules

# what is package ?

"""package is something basically that contains all files you need predefined codes in a file"""

# what is a module
# --> modules are basically code libraries which you can include your projects

# --> imp packages -- 1.numpy 2.pandas 3.matplotlib 4.seaborn 5.tkinter 6. sci-kit 7. python_image_processing
# 8. opencv 9.pendulum 10.movie pay 11.pyqt 12. py 32 13. py test

# import camelcase
# x = camelcase.CamelCase()
# a = 'hi there is a message to check if the letters are capitalise'
# # print(a.capitalize())
# print(x.hump(a))